<div class="card-container">
    <div class="card-container-header">
        <h1>{{title}}</h1>
        <h3>{{subtitle}}</h3>
    </div>

    <div>
        <ng-content></ng-content>
    </div>

    <!-- <div class="card-container-footer">
        <div class="flex">
            <fa-icon icon="user" pull="left"></fa-icon>
            <div class="item-lf-margin card-container-footer-name">
                <h4>Numero da conta</h4>
                <p class="opaque">{{c.checkingaccount.numberaccount}}</p>
            </div>
        </div>

        <div class="flex">

        </div>
    </div> -->
</div>