<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' :''" >
    <div class="logo-container">
        <button class="logo" (click)="toggleColapse()">LT</button>
        <div class="logo-text" *ngIf="collapsed">Lucas Teixeira</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSideNav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>

    <ul class="sidenav-nav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sienav-nav-link" [routerLink]="data.routerLink">
                <i class="sienav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed" >{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>