// font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

@mixin width-container {
    margin: 0 auto;
    max-width: 280px;

    @media (min-width: 768px) {
        max-width: 380px;
    }
}