.messages-container {
    display: flex;
    color: #a94442;
    border: 1px solid;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    width: 100%;
    top: 0;

    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    &.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    &.sucess {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .message {}
}